#root {
  background-color: rgb(181, 255, 191);
}

h1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

li {
  font-family: "Times New Roman", Times, serif;
}

/* Styling elements for input fields */
label {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button {
  border-radius: 8px;
}

select {
  margin: 3px 5px;
}
